* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
  font-family: montserrat-semibold;
  src: url(../fonts/Montserrat-SemiBold.woff);
}

@font-face {
  font-family: montserrat-bold;
  src: url(../fonts/Montserrat-Bold.woff);
}

:root {
  --primary-color: #2967f6;
  --secondary-color: #d7e3fe;
  --tertiary-color: #e2e1fe;
  --fourth-color: #ecdffe;
  --box-bg-color: #f4f7ff;
  --black-color: #000;
  --white-color: #fff;
}

a,
button,
input[type="submit"] {
  transition: all 0.5s;
  text-decoration: none;
  font-family: montserrat-semibold;
  font-size: 15px;
}

h1 {
  font-family: montserrat-bold;
  font-size: 50px;
  margin: 0;
}

h2 {
  font-family: montserrat-semibold;
  font-size: 35px;
  margin: 0;
}

h3,
h4,
h5,
h6 {
  font-family: montserrat-semibold;
  margin: 0;
}

p,
li {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--black-color);
  font-family: poppins;
}

input,
select,
textarea {
  font-family: poppins;
  font-size: 15px;
  color: #adadb1;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  height: auto;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
}

.header {
  width: 100%;
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0 0 10px 0;
}

.sticky {
  width: 100%;
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: slidetop 0.5s ease-in;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@keyframes slidemenu {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.nav-flex {
  width: 100%;
}

.logo {
  width: 15%;
}

.logo img {
  width: 75%;
}

.menu {
  width: 40%;
}

.menu ul {
  display: inline-block;
}

.menu ul li {
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 10px 0;
  position: relative;
}

.menu ul li:last-child {
  margin: 0;
}

.menu ul li a {
  color: var(--black-color);
  display: inline-block;
}

.menu ul li a:hover {
  color: var(--primary-color);
}

.click-btn {
  position: absolute;
  right: -15px;
  top: 13px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 13px;
}

.click-toggle {
  transform: rotate(180deg);
}

ul.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  display: inline-block;
  text-align: left;
  display: none;
  background: var(--secondary-color);
  border-radius: 0 0 5px 5px;
  padding: 10px;
  z-index: 99;
  animation: slidemenu 0.5s ease-in;
  overflow: hidden;
}

@keyframes slidemenu {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

ul.sub-menu li {
  margin: 0 0 10px 0;
  display: block;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #454545;
}

ul.sub-menu li a {
  display: inline-block;
}

ul.sub-menu li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}

.menu-btn {
  width: 45%;
  text-align: right;
  margin: 12px 0 0 0;
}

.menu-btn a {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 25px;
  color: var(--white-color);
  background: var(--primary-color);
  font-family: poppins;
}

.menu-btn a:hover {
  background: var(--black-color);
}

.banner {
  width: 100%;
  margin: 30px 0 0 0;
}

.banner-info {
  width: 100%;
}

.banner-info ul {
  display: inline-block;
}

.banner-info ul li {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 15px;
}

.banner-info ul li:last-child {
  margin: 0;
}

.banner-info ul li a {
  color: var(--black-color);
}

.banner-info ul li i {
  font-size: 12px;
}

.banner-info span {
  color: #454545;
  font-family: montserrat;
}

.banner-text {
  width: 100%;
  border-radius: 15px;
  padding: 30px 20px;
  background: linear-gradient(
    269deg,
    var(--secondary-color),
    var(--tertiary-color),
    var(--fourth-color)
  );
  margin: 20px 0 0 0;
}

.banner-text h2 {
  font-size: 30px;
  text-align: center;
}

.banner-text p {
  margin: 20px 0 0 0;
  text-align: center;
}

.search-bar {
  width: 60%;
  margin: 20px auto 0 auto;
  border-radius: 30px;
  background: var(--white-color);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.search-menu-bar {
  width: 15%;
  padding: 0 10px 0 0;
  border-right: 1px solid #ddd;
}

.search-menu-bar ul {
  width: 100%;
}

.search-menu-bar ul li {
  position: relative;
}

.search-menu-bar ul li a {
  color: var(--black-color);
  font-size: 14px;
  font-family: poppins;
}

.search-menu-bar ul li a i {
  margin: 0 5px 0 0;
}

.click-btn2 {
  display: inline-block;
  font-size: 10px;
  margin: 0 0 5px 0;
}

ul.search-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: inline-block;
  text-align: left;
  display: none;
  background: var(--box-bg-color);
  border-radius: 0 0 5px 5px;
  padding: 10px;
  z-index: 99;
  overflow: hidden;
}

.search-menu li {
  margin: 0 0 10px 0;
}

.search-menu li:last-child {
  margin: 0;
}

.search-input-box {
  position: relative;
  width: 84%;
}

.search-input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-icon {
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-icon:hover {
  color: var(--primary-color);
}

.gallery-box {
  width: 100%;
  margin: 30px 0 30px 0;
}

.gallery-list {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.gallery-list h3 {
  font-size: 20px;
  font-family: poppins-medium;
}

.gallery-list h3 img {
  width: 20px;
}

.gallery-filter-list {
  margin: 0 0 0 30px;
}

.gallery-filter-list li {
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 10px 15px;
  background: var(--box-bg-color);
  position: relative;
}

.gallery-filter-list li:last-child {
  margin: 0;
}

.gallery-filter-list li a {
  font-size: 14px;
  color: var(--black-color);
  font-family: poppins;
}

.click-btn3 {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 12px;
}

ul.filter-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: inline-block;
  text-align: left;
  display: none;
  background: var(--secondary-color);
  border-radius: 0 0 5px 5px;
  padding: 10px;
  z-index: 99;
  overflow: hidden;
}

.gallery-filter-list li ul li {
  margin: 0 0 10px 0;
  display: block;
  padding: 0;
  background: transparent;
}

.gallery-filter-list li ul li:last-child {
  margin: 0;
}

.gallery-masonary {
  border-top: 1px solid #ddd;
  columns: 8;
  column-gap: 16px;
  padding-top: 20px;
}

.gallery {
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.8s;
}

.gallery-iconlist {
  position: absolute;
  width: max-content;
  top: -100%;
  right: 10px;
  transition: all 0.8s;
  opacity: 0;
}

.gallery-iconlist ul {
  display: inline-block;
}

.gallery-iconlist ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.gallery-iconlist ul li:last-child {
  margin: 0;
}

.gallery-iconlist ul li a {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.gallery-iconlist ul li a:hover {
  background: var(--primary-color);
}

.gallery-icon {
  position: absolute;
  bottom: 10px;
  left: -100%;
  width: max-content;
  opacity: 0;
  transition: all 0.8s;
}

.gallery-icon a {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.gallery-icon a:hover {
  background: var(--secondary-color);
  color: var(--black-color);
}

.gallery:hover img {
  transform: scale(1.2);
}

.gallery:hover .gallery-iconlist {
  top: 10px;
  opacity: 1;
}

.gallery:hover .gallery-icon {
  left: 10px;
  opacity: 1;
}

.item-show {
  display: block;
  opacity: 1;
}

.item-remove {
  opacity: 0;
  display: none;
}

.image-popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-content {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  max-height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 20px;
}

.popup-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup-image {
  width: 45%;
  height: 400px;
  text-align: center;
  border-radius: 10px;
}

.popup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.popup-details {
  width: 40%;
}

.popup-details h2 {
  font-size: 30px;
}

.popup-details ul {
  margin: 10px 0 0 0;
  display: inline-block;
}

.popup-details ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #adadb1;
  font-family: poppins;
  font-size: 14px;
}

.popup-details ul li i {
  color: var(--black-color);
  font-size: 8px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.popup-details ul li span {
  color: #333;
  font-family: poppins-medium;
}

.popup-details ul li:last-child {
  margin: 0;
}

.popup-details p {
  margin: 10px 0 0 0;
  color: #adadb1;
  font-size: 14px;
}

.popup-details p img {
  width: 100px;
}

.template-btn {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: center;
}

.template-btn a {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--white-color);
  font-family: poppins;
}

.tags {
  margin-top: 20px;
  width: 100%;
}

.tags h4 {
  font-family: poppins-medium;
  font-size: 15px;
}

.tags ul {
  display: inline-block;
}

.tags ul li {
  margin: 10px 10px 0 0;
  display: inline-block;
}

.tags ul li:last-child {
  margin: 10px 0 0 0;
}

.tags a {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--box-bg-color);
  border-radius: 20px;
  color: #333;
  font-size: poppins;
  font-size: 14px;
}

.more-like-this {
  margin-top: 30px;
}

.more-like-this h3 {
  font-size: 20px;
}

.more-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.more-images img {
  width: 18%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 20px;
}

.show {
  display: flex;
}

.close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 17px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.5);
  right: 7%;
  top: 75px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn,
.next-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 17px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.prev-btn {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.next-btn {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mobile-menu {
  display: none;
}

/* Responsive starts */

@media only screen and (max-width: 1500.2px) {
  .close-btn {
    right: 5%;
  }
}

@media only screen and (max-width: 1430.2px) {
  .close-btn {
    right: 3%;
  }

  .prev-btn {
    left: 3%;
  }

  .next-btn {
    right: 3%;
  }
}

@media only screen and (max-width: 1375.2px) {
  .popup-content {
    width: 80%;
  }

  .close-btn {
    right: 5%;
  }
}

@media only screen and (max-width: 1280.2px) {
  .search-menu-bar {
    width: 18%;
  }

  .search-input-box {
    width: 80%;
  }

  .popup-details h2 {
    font-size: 25px;
  }

  .banner-text h2 {
    font-size: 28px;
  }

  .banner-text p {
    margin: 10px 0 0 0;
  }

  .gallery-masonary {
    columns: 6;
  }
}

@media only screen and (max-width: 1200.2px) {
  .gallery-masonary {
    columns: 5;
  }

  .popup-image {
    width: 48%;
  }

  .popup-details {
    width: 48%;
  }

  .template-btn {
    width: 75%;
  }

  .more-images {
    column-gap: 0;
    justify-content: space-between;
  }

  .more-images img {
    width: 23%;
  }

  .gallery-filter-list li {
    margin: 0 20px 0 0;
  }

  .gallery-list {
    flex-wrap: wrap;
  }

  .gallery-filter-list {
    margin: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1065px) {
  .search-menu-bar {
    width: 23%;
  }

  .search-input-box {
    width: 75%;
  }
}

@media only screen and (max-width: 991.2px) {
  .mobile-menu {
    display: block;
    font-size: 30px;
    margin: 0 0 0 15px;
    color: var(--black-color);
  }

  .mobile-menu:hover {
    color: var(--primary-color);
  }

  .header {
    padding: 10px 0;
  }

  .logo {
    width: 20%;
  }

  .logo img {
    width: 100%;
  }

  .offcanvas-header {
    width: 100%;
    border-bottom: 1px solid var(--black-color);
  }

  .offcanvas-header .logo {
    width: 50%;
  }

  .offcanvas-header .logo img {
    width: 100%;
  }

  .offcanvas-header .close-sidebar {
    display: grid;
    place-items: center;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.5s;
    color: var(--black-color);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid #dddddd;
    border-radius: 50%;
  }

  .offcanvas-header .close-sidebar i {
    transition: all 0.3s;
  }

  .offcanvas-header .close-sidebar:hover i {
    transform: rotate(90deg);
  }

  .offcanvas-header .close-sidebar:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border: transparent;
  }

  .menu {
    display: none;
  }

  .offcanvas-body {
    padding: 20px 20px 0 20px;
  }

  .offcanvas-body .menu {
    width: 100%;
    display: block;
    padding: 0;
    text-align: left;
  }

  .offcanvas-body .menu ul {
    width: 100%;
    padding: 0;
  }

  .offcanvas-body .menu ul li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .offcanvas-body .menu ul li a {
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 16px;
  }

  .offcanvas-body .menu ul li:last-child a {
    margin: 0;
  }

  .menu-btn {
    width: 70%;
    margin: 0;
  }

  .offcanvas-body .menu-btn {
    width: 100%;
    text-align: left;
    margin: 30px 0 0 0;
    display: none;
  }

  .click-btn {
    top: 15px;
    right: 0;
  }

  .offcanvas-body ul.sub-menu {
    position: static;
    background: none;
    border-radius: none;
  }

  .offcanvas-body ul.sub-menu li {
    border-bottom: none;
    padding: 0;
    padding: 0;
  }

  .offcanvas-body ul.sub-menu li a {
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
  }

  .offcanvas-body ul.sub-menu li:last-child a {
    border-bottom: none;
  }

  .popup-details h2 {
    font-size: 22px;
  }

  .gallery-list h3 {
    font-size: 16px;
  }

  .gallery-list h3 img {
    width: 16px;
  }

  .gallery-filter-list {
    margin: 0px 0 0 15px;
  }

  .popup-image {
    height: 300px;
  }
}

@media only screen and (max-width: 951px) {
  .gallery-filter-list li {
    margin: 0 10px 0 0;
  }
}

@media only screen and (max-width: 901px) {
  .search-bar {
    width: 70%;
  }

  .gallery-masonary {
    columns: 4;
  }

  .more-like-this {
    margin: 20px 0 0 0;
  }

  .more-like-this h3 {
    font-size: 18px;
  }

  .gallery {
    margin: 0 0 20px 0;
  }

  .logo {
    width: 25%;
  }

  .menu-btn {
    width: 65%;
  }
}

@media only screen and (max-width: 876px) {
  .gallery-filter-list {
    width: 100%;
    margin: 10px 0 0 0;
  }

  .close-btn {
    right: 4%;
  }

  .gallery-filter-list li {
    margin: 0;
  }

  .popup-details ul li {
    font-size: 13px;
  }

  .popup-details ul li {
    margin: 0 5px 0 0;
  }

  .popup-details ul li i {
    margin: 0 5px 0 0;
  }
}

@media only screen and (max-width: 767.2px) {
  .popup-flex {
    flex-wrap: wrap;
  }

  .popup-image {
    width: 100%;
    height: 350px;
    margin: 0 0 20px 0;
  }

  .popup-details {
    width: 100%;
  }

  .template-btn {
    width: 100%;
    text-align: left;
  }

  .template-btn a {
    width: auto;
    padding: 10px 30px;
  }

  .more-images img {
    width: 32%;
  }

  .tags ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tags ul li {
    margin: 10px 0 0 0;
  }

  .gallery-masonary {
    columns: 3;
  }

  .close-btn,
  .prev-btn,
  .next-btn {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .banner-text h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 750px) {
  .search-bar {
    width: 80%;
  }

  .gallery-filter-list {
    justify-content: center;
  }

  .gallery-filter-list li {
    margin: 0 10px 10px 0;
  }

  .gallery-filter-list li:last-child {
    margin: 0;
  }
}

@media only screen and (max-width: 667px) {
  .popup-image {
    height: 300px;
  }

  .search-bar {
    width: 90%;
  }
}

@media only screen and (max-width: 651px) {
  .logo {
    width: 30%;
  }

  .menu-btn {
    width: 60%;
  }

  .search-menu-bar {
    width: 25%;
  }

  .search-input-box {
    width: 70%;
  }

  .tags ul li {
    margin: 10px 10px 0 0;
  }

  .tags ul li:last-child {
    margin: 10px 0 0 0;
  }

  .tags ul {
    display: inline-block;
  }
}

@media only screen and (max-width: 576.2px) {
  .search-bar {
    width: 100%;
  }

  .gallery-masonary {
    columns: 2;
  }

  .popup-image {
    height: 250px;
  }

  .more-images img {
    width: 48%;
  }

  .menu-btn {
    width: 60%;
    display: none;
  }

  .offcanvas-body .menu-btn {
    display: block;
  }
}

@media only screen and (max-width: 500.2px) {
  .close-btn {
    right: 3%;
  }

  .search-menu-bar {
    width: 30%;
  }

  .search-input-box {
    width: 65%;
  }

  .logo {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .gallery-masonary {
    columns: 1;
  }

  .gallery {
    width: 100%;
    height: 250px;
  }

  .gallery img {
    height: 250px;
  }

  .more-images img {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .close-btn {
    right: 2%;
  }

  .prev-btn {
    left: 2%;
  }

  .next-btn {
    right: 2%;
  }

  .popup-content {
    width: 75%;
  }

  .popup-details h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .search-menu-bar {
    width: 35%;
  }

  .search-input-box {
    width: 60%;
  }
}

@media only screen and (max-width: 400.2px) {
  .logo {
    width: 50%;
  }

  .popup-details ul li i {
    display: none;
  }

  .popup-details ul {
    margin: 0;
  }

  .popup-details ul li {
    width: 100%;
    margin: 10px 0 0 0;
  }
}

@media only screen and (max-width: 376px) {
  .search-menu-bar {
    width: 40%;
  }

  .search-input-box {
    width: 55%;
  }

  .logo {
    width: 50%;
  }
}

@media only screen and (max-width: 340px) {
  .search-menu-bar {
    width: 43%;
  }

  .search-input-box {
    width: 52%;
  }

  .logo {
    width: 60%;
  }
}

/* Responsive ends */
